.container{
    width: 50%;
    margin: auto;
}

.datepicker{
    padding: 500px;
}

.form-items{
    display: grid;
    margin: 5px 0px;
}

.form-submit{
    width: 10%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    color: limegreen;
    background-color: white;
    border-radius: 5px;
    border-color: limegreen;
    border-style: solid;
}

.form-submit:hover{
    color: white;
    background-color: limegreen;
    border-radius: 5px;
    border-color: white;
    transition: all;
    transition-duration: 0.5s;
}

.form-label{
    margin-right: 10px;
    font-size: medium;
    font-weight: 700;
}

input{
    margin: 0px 10px;
    padding: 8px;
}